<% provide(:page_title, "イベント検索") %>

<section class="container">
  <%= render partial: 'shared/flash_message' %>
  <header class="page-header">
    <h3>イベント検索</h3>
    <p class="text-muted">イベントを検索して参加してみましょう</p>
  </header>

  <%= render partial: 'shared/event_search_form', locals: {q: @q, events: @events} %>

  <%= render partial: 'shared/event_search_result', locals: {events: @events} %>
</section>

