<% now = Time.zone.now %>
<% provide(:page_title, "イベント作成") %>

<section class="container">
  <%= render partial: 'shared/flash_message' %>
  <div class="page-header">
    <h3>イベント作成</h3>
  </div>
  
  <%= form_for(@event, class: 'form-horizontal', role: 'form') do |f| %>
    <% if @event.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', required: true, placeholder: '必須入力' %>
    </div>

    <div class="form-group">
      <%= f.label :place %>
      <%= f.text_field :place, class: 'form-control', required: true, placeholder: '必須入力' %>
    </div>

    <div class="form-group">
      <% if @event.event_image? %>
        <div class="thumbnail">
          <%= image_tag @event.event_image.url %>
        </div>
      <% end %>
      <%= f.file_field :event_image, class: 'js-img-upload' %>
      <%= f.hidden_field :event_image_cache %>
    </div>
    <% if @event.event_image? %>
      <div class="checkbox">
        <label>
          <%= f.check_box :remove_event_image %>
          画像を削除する
        </label>
      </div>
    <% end %>

    <div class="form-group form-inline">
      <%= f.label :start_time %>
      <div>
        <%= f.datetime_select :start_time, {start_year: now.year, end_year: now.year + 1, use_month_numbers: true, with_css_classes: true}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group form-inline">
      <%= f.label :end_time %>
      <div>
        <%= f.datetime_select :end_time, {start_year: now.year, end_year: now.year + 1, use_month_numbers: true, with_css_classes: true}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', rows: 10, required: true, placeholder: '必須入力' %>
      <span class="help-block">Markdown記法が利用できます。</span>
    </div>

    <div class="form-group" id="filelist">
      <label>添付ファイル</label>
      <span class="help-block">5個までファイルをアップロードできます。1ファイルのサイズは5メガバイトまでです。</span>
      <% @event.event_attachments.each do |a| %>
        <% if a.url.present? %>
          <div class="checkbox">
            <label>
              <%= f.check_box :event_attachments, { name: "event_attachments[remove_id][]", class: 'filecheckbox' }, a.id %><%= fa_icon 'trash' %>
              <%= a.url.to_s.split('/').last %>
            </label>
          </div>
        <% end %>
      <% end %>

      <%= f.fields_for :event_attachments_new do |e| %>
        <div>
          <input type="file" name="event_attachments_new[url][]" class="fileinput">
        </div>
      <% end %>
    </div>

    <%= f.submit '作成', class: 'btn btn-default', data: { disable_with: '作成中' } %>
  <% end %>
</section>
