<section class="container">
  <%= render partial: 'shared/flash_message' %>
  <header class="page-header">
    <h3>イベント情報の閲覧にパスワードが必要です</h3>
  </header>

  <%= form_tag @url, class: '' do %>
    <div class="form-group">
      <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password' %>
    </div>
    <button type="submit" class="btn btn-default">送信</button>
  <% end %>
</section>