<% provide(:title, @event.name) %>

<section class="container">
  <%= render partial: 'shared/flash_message' %>
  
  <div class="page-header">
    <h3>
      <%= @event.name %>
    </h3>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <% if @event.event_image? %>
        <div class="thumbnail">
          <%= image_tag @event.event_image.url %>
        </div>
      <% end %>
  
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= fa_icon 'user' %>&nbsp;主催者
        </div>
        <div class="panel-body">
          <% if @event.owner %>
            <%= link_to url_for_twitter(@event.owner), target: '_blank' do %>
              <%= image_tag @event.owner.image_url, class: 'owner-image' %>
              <%= "@#{@event.owner.nickname}" %>
            <% end %>
          <% else %>
            <%= fa_icon 'user-times' %>&nbsp;退会したユーザです
          <% end %>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= fa_icon 'clock-o' %>&nbsp;開催時間
        </div>
        <div class="panel-body">
          <%= @event.start_time.strftime('%Y/%m/%d %H:%M') %> - <%= @event.end_time.strftime('%Y/%m/%d %H:%M') %>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= fa_icon 'map-marker' %>&nbsp;開催場所
        </div>
        <div class="panel-body">
          <%= @event.place %>&nbsp;
          <small>(<a href="https://maps.google.co.jp/maps?q=<%= @event.place %>" target="blank">Google Maps で検索</a>)</small>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= fa_icon 'edit' %>&nbsp;イベント内容
        </div>
        <div class="panel-body">
          <!--%= auto_link simple_format(h(@event.content)) %-->
          <%= markdown @event.content %>
        </div>
      </div>

      <% unless @event.event_attachments.blank? %>
        <ul class="list-group">
          <li class="list-group-item" style="background: #f5f5f5;"><%= fa_icon 'paperclip' %>&nbsp;添付ファイル</li>
          <% @event.event_attachments.each do |a| %>
            <%= link_to URI.decode(a.url.to_s.split('/').last), a.url.to_s, class: 'list-group-item' %>
          <% end %>
        </ul>
      <% end %>
  
      <!--Tweet Button-->
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="J305Project">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');twttr.widgets.load();</script>
    </div>
  
    <div class="col-md-4">
      <% if @event.created_by?(current_user) %>
        <%= link_to fa_icon('edit')+" イベントを編集する", edit_event_path(@event), class: 'btn btn-info btn-block' %>
        <%= link_to fa_icon('trash')+' イベントを削除する', event_path(@event), class: 'btn btn-danger btn-block', method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <% end %>
  
      <% if @ticket %>
        <%= link_to fa_icon('close')+' 参加をキャンセルする', event_ticket_path(@event, @ticket), method: :delete, class: 'btn btn-warning btn-block' %>
      <% elsif logged_in? %>
        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#createTicket">
          <%= fa_icon('plus') %> 参加する
        </button>
  
        <!-- Modal Window -->
        <div class="modal fade" id="createTicket" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="dialog-header">参加コメント <%= fa_icon 'comment' %></h4>
              </div>
  
              <%= form_for(@event.tickets.build, url: event_tickets_path(@event), remote: true) do |f| %>
                <div class="modal-body">
                  <%= f.text_field :comment, class: 'form-control' %>
                </div>
  
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                  <%= f.button '送信', class: 'btn btn-primary', data: { disable_with: '送信中・・・' } %>
                </div>
              <% end %>
            </div>
          </div>
        </div><!-- Modal Window -->
      <% else %>
        <%= link_to 'ログインして参加する', root_path+'auth/twitter', class: 'btn btn-primary btn-block' %>
        <%= link_to 'Log in (test)', login_path, class: 'btn btn-primary btn-block' %>
      <% end %>
  
      <hr>
  
      <!-- Participants List -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= fa_icon 'users' %>&nbsp;参加者
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <% @tickets.each do |ticket| %>
              <% if ticket.user %>
                <li>
                  <%= link_to url_for_twitter(ticket.user), target: '_blank' do %>
                    <%= image_tag ticket.user.image_url, width: 20, height: 20 %>
                    <%= "@#{ticket.user.nickname}" %>
                  <% end %>
                  <%= ticket.comment %>
                </li>
              <% else %>
                退会したユーザです
              <% end %>
            <% end %>
          </ul>
        </div>
      </div><!-- Participants List -->
  
    </div>
  </div>
</section>