/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require auth-buttons
 *= require font-awesome
 *= require bootstrap-fileinput
 *= require_tree .
 */
html, body {
  height: 100%;
}
body{
  padding-top: 50px;
  background: #fafafa !important;
}
#wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px; /* Header Height */
}
#userImage{
  margin: 5px 15px;
}
#userImage a {
  text-decoration: none;
}
#userImage img{
  width:  40px;
  height: 40px;
}

.login{
  line-height: 50px;
  margin: 0 15px;
}

.owner-image {
  width: 30px;
  height: 30px;
}

label.input-label span {
  display: inline-block;
  width: 5em;
}

.flash-message {
  margin: 10px auto;
}
/*
.flash-message .alert.alert-success,
.flash-message .alert.alert-danger {
  background-color: #135;
  border-color: #000;
}
.flash-message .alert.alert-success { color: #fff; }
.flash-message .alert.alert-danger { color: #f22; }
*/
.header-page {
  padding-top: 75px;
  padding-bottom: 25px;
  margin-top: -50px;
  margin-bottom: 50px;
  background: #357 !important;
  color: #fff;
  border-radius: 0;
}
.header-page a:not(.btn):link,
.header-page a:not(.btn):visited{
  color: #fff;
}
.header-page a:not(.btn):hover,
.header-page a:not(.btn):active {
  color: #aaa;
  background: transparent !important;
  text-decoration: none;
}
/*
.page-title {
  padding-top: 50px;
  background: #357;
  color: #fff;
}*/

/*
a:link,
a:visited {
  color: #357;
}
a:hover,
a:active {
  color: #135;
}
*/



/* Header */
#header-global > nav {
  background: rgba(0,0,0,.7);
  color: #fff;
}
#header-global .navbar-right > li > a:link,
#header-global .navbar-right > li > a:visited,
#header-global .navbar-header a:link,
#header-global .navbar-header a:visited {
  color: #fff;
}
#header-global .navbar-right > li > a:hover,
#header-global .navbar-right > li > a:active,
#header-global .navbar-header a:hover,
#header-global .navbar-header a:active {
  color: #aaa;
  background: transparent;
}
#header-global button.navbar-toggle{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  line-height: 50px;
}
#header-global button.navbar-toggle:hover{
  color: #aaa;
}
#header-global .dropdown-menu {
  background: #135;
  color: #fff;
}
#header-global .dropdown-menu > li > a:link,
#header-global .dropdown-menu > li > a:visited{
  color: #fff;
}
#header-global .dropdown-menu > li > a:hover,
#header-global .dropdown-menu > li > a:active {
  color: #135;
  background: #fff;
}
#header-global .dropdown-menu .dropdown-header {
  color: #fff;
}

/* Footer */
#footer-global {
  position: relative;
  height: 50px;
  margin-top: -50px;
  background: #357;
  line-height: 50px;
}
#footer-global ul{
  margin: 0;
}
#footer-global li > a:link,
#footer-global li > a:visited{
  color: #fff;
  text-decoration: none;
}
#footer-global li > a:hover,
#footer-global li > a:active {
  color: #aaa;
  text-decoration: none;
}

/* Badge */
.badge.badge-owner {
  background: #357;
}
.badge.badge-lock {
  background: #d54;
}

.pagination > li.page.active > a{
  background: #357;
  border: 1px solid #357;
}

/*
.btn.btn-default {
  color: #000;
}
.btn.btn-default:hover {
  color: #000;
}
.btn.btn-info {
  background: #5ae;
  border: #468;
  color: #fff;
}
.btn.btn-info:hover {
  background: #38c;
  border: #468;
  color: #fff;
}
.btn.btn-warning {
  background: #f93;
  border: #468;
  color: #fff;
}
.btn.btn-warning:hover {
  background: #d71;
  border: #468;
  color: #fff;
}
.btn.btn-danger {
  background: #d54;
  border: #468;
  color: #fff;
}
.btn.btn-danger:hover {
  background: #b32;
  border: #468;
  color: #fff;
}
.btn.btn-primary {
  background: #357;
  border: #468;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #135;
  border: #468;
  color: #fff;
}

.nav.nav-pills .active a {
  background: #357;
}
.nav.nav-pills .active a:hover {
  background: #135;
}
.nav.nav-pills a{
  color: #357;
}
*/