// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'bootstrap-fileinput';

//@import 'compass/css3/border-radius';

/* Bootstrap File Input */

.fileinput-browse-button {
  display: none;
}
.fileinput-upload-button {
  display: none;
}

/*.fileinput-upload-button {
  @include border-top-right-radius(4px !important);
  @include border-bottom-right-radius(4px !important);
}*/

.file-input.file-input-new {
  .fileinput-browse-button {
    display: inline-block;
  }
}

/*.file-input.has-error {
  .fileinput-upload-button {
    display: none;
  }

  .fileinput-remove-button {
    @include border-top-right-radius(4px !important);
    @include border-bottom-right-radius(4px !important);
  }
}*/

.kv-caption-icon{
  display: none !important;
}