// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$twitter_color: #55acee;
$background_color: #357;

.btn-twitter-login{
	background: $twitter_color;
	color: #fff !important;
}
.btn-twitter-login:hover{
	background: #358cce;
	color: #eee;
}
#welcome > .jumbotron {
	background: $background_color !important;
	color: #fff;
	border-radius: 0;
}