<% provide(:title, "@#{current_user.nickname}") %>
<% provide(:page_title, "") %>
<% provide(:page_description, "@#{current_user.nickname}でログイン中") %>


<section class="container">
  <%= render partial: 'shared/flash_message' %>
  <header class="page-header">
    <h3>マイページ</h3>
    <p class="text-muted">主催・参加したイベントを管理できます</p>
    <p class="text-muted"><%= "@#{current_user.nickname}でログイン中" %></p>
    <small><%= link_to fa_icon('sign-out') + " ログアウト", logout_path %></small>
  </header>

  <%= render partial: 'shared/event_search_form', locals: {q: @q, start_year: @start_year, end_year: @end_year} %>
  <%= render partial: 'shared/event_search_result', locals: {events: @events} %>
</section>
