<section>
  <div class="list-group">
    <% unless heading.nil? %>
      <div class="list-group-item text-muted">
        <h4 class="list-group-item-heading"><%= heading %></h4>
      </div>
    <% end %>

    <% events.each do |event| %>
      <%= link_to(event, class: 'list-group-item') do %>
        <% if event.owner == current_user %>
          <span class="badge badge-owner">owner</span>
        <% end %>

        <div style="position:relative; margin-left:60px;">
          <div class="" style="position:absolute; margin-left:-55px;">
            <%= image_tag event.owner.image_url, style: 'width:50px;', class: 'img-rounded' %>
          </div>

          <div class="" style="top:0p">
            <small class="list-group-item-text"><%= "@#{event.owner.nickname}" %></small>
            <h4 class="list-group-item-heading" style="margin: 0.4em 0;">
              <%= event.name %>
            </h4>
            <p class="list-group-item-text"><%= fa_icon 'map-marker', style: 'color:#f77;' %>  <%= "#{event.place}" %></p>

            <% if event.event_image.thumb.present? %>
              <hr>
              <div class="thumbnail">
                <%= image_tag event.event_image.thumb.url %>
              </div>
            <% end %>

            <p class="list-group-item-text">
              <%= event.start_time.strftime('%Y/%m/%d %H:%M') %> - <%= event.end_time.strftime('%Y/%m/%d %H:%M') %>
            </p>

            <span><%= fa_icon('user') %> <%= event.tickets.count %></span>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>