<%= search_form_for(q, url: request.url, class: 'well') do |f| %>
  <% start_year ||= Time.zone.now.year
     end_year   ||= Time.zone.now.year + 1 %>

  <% name_field_text  = q.name_cont_all.join(' ')  unless q.name_cont_all.nil?
     place_field_text = q.place_cont_all.join(' ') unless q.place_cont_all.nil? %>

  <div class="form-group input-group">
    <%= f.label :name_cont_all, class: 'input-group-addon input-label' do %><span>イベント名</span><% end %>
    <%= f.search_field :name_cont_all, class: 'form-control', placeholder: 'イベント名で検索', value: name_field_text %>
  </div>

  <div class="form-group input-group">
    <%= f.label :place_cont_all, class: 'input-group-addon input-label' do %><span>開催場所</span><% end %>
    <%= f.search_field :place_cont_all, class: 'form-control', placeholder: '開催場所で検索', value: place_field_text %>
  </div>

  <div class="form-group form-inline">
    <%= f.label :start_time_gteq, '開催日', class: 'control-label' %>
    <%=
    f.date_select :start_time_gteq, {start_year: start_year, end_year: end_year, prompt: true, use_month_numbers: true, with_css_classes: true,}, class: 'form-control'
    %>～
  </div>

  <div class="form-group">
    <% if logged_in? %>
      <div class="checkbox">
        <label>
          <%= f.check_box :owner_id_not_eq, {}, current_user.id %>
          主催したイベントは除外
        </label>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" name="commit">検索&nbsp;<%= fa_icon 'search' %></button>
    <%= link_to 'クリア', events_path, class: 'btn btn-default' %>
  </div>

  <ul class="list-inline form-group">
    <li><span class="text-muted">並び替え:</span></li>
    <li><%= sort_link q, :name, 'イベント名', {}, class: 'btn btn-default btn-xs' %></li>
    <li><%= sort_link q, :place, '開催場所', {}, class: 'btn btn-default btn-xs' %></li>
    <li><%= sort_link q, :start_time, '開始時間', {}, class: 'btn btn-default btn-xs' %></li>
  </ul>
<% end %>