<aside class="flash-message">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= fa_icon('exclamation-triangle') + ' ' + flash[:alert] %>
    </div>
  <% end %>
</aside>